<div>
  <form [formGroup]="movieForm" novalidate (ngSubmit)="addMovie()">
    <table>
      <tr>
        <td>Movie Name:</td>
        <td>
          <input type="text" id="name" name="movieName" class="form-control" formControlName="name">
        </td>
      </tr>
      <tr>
        <td colspan="2" class='error'>
          <div *ngIf="movieForm.invalid && (movieForm.dirty || movieForm.touched) && movieForm.controls['name'].hasError('pattern')"
            class="error">
            Movie Name should be only alphanumeric
          </div>
          <div *ngIf="!movieForm.controls['name'].dirty && nameFlag">
            Movie Name is required
          </div>
        </td>
      </tr>
      <tr>
        <td>Give Rating:</td>
        <td>
          <input type="number" name="rating" formControlName="rating">
        </td>
      </tr>
      <tr>
        <td colspan="2" class='error'>
          <div *ngIf="movieForm.invalid && (movieForm.dirty || movieForm.touched) && (movieForm.controls['rating'].hasError('min') || movieForm.controls['rating'].hasError('max'))"
            class="error">
            Ratings need to be a number: eg: 2.5. Rating is on Scale 1-5
          </div>
          <div *ngIf="!movieForm.controls['rating'].dirty && ratingFlag">
            Enter ratings on scale 1-5
          </div>
        </td>
      </tr>
      <tr>
        <td>Select Genre:</td>
        <td>
          <select formControlName="genre">
            <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2" class='error'>
          <div *ngIf="!movieForm.controls['genre'].dirty && genreFlag"
            class="error">
           Select Genre!!!
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit">Add Movie</button>
        </td>
      </tr>
    </table>
  </form>
</div>