body{
    background-color: white;
}

.topBackground{
    background-color: #094E75;
    padding-bottom: 2%;
}

.topLinks{
    position: relative;
    top: -83px;
    left: 68%;
    color: white;
    width:400px;
}
#cart{
    z-index:1;
 
    
}
.left{
    position:absolute;
    left:30%;
}
#details{
    max-height:300px;
    overflow-y: auto;
    position: relative;
}

.topLinks > a {
    color: white;
    font-size: 12px;
}

.container{
    position: relative;
    top: -56px;
}
.book{
    display: inline-block;
    margin:auto 10px;
    position:relative;
    z-index:5;
}

.logo{
    width: 18%;
    left: 7.5%;
    position: relative;
}

nav{
    border-radius: 5px;
}

.books{
    border: 1px solid #EDEDED;
}

.navigationClass{
    background-color: #3AAFD6;
}

.bookImage{
    width: 100px;;
    margin-bottom: 0;
}

.bookName{
    margin-bottom: 0;
}

.bookAuthor{
    color: black;
    font-size: 10px;
    margin-bottom: 0;
}

.bookPrice{
    font-size: 10px;
    color: red;
}
.bookPrice s{
    color: black;
}
.bookId{
    display: none;
}

.dropdown {
    width: 200px !important;
}

.cartBtn{
    margin-left: 20px; 
    background-color: #02698D;
    color: white;
}

.ion-android-search{
    background-color: #02698D;
    color: white;
}

.yellowDropdown { 
    background-color: #FDE041;
    border-radius: 5px;
}

.navbar-nav > li > .dropdown-menu {
     background-color: #FEFDF4; 
}

.dropdown-item{
    border-bottom: 1px solid #D8E1DD;
}

.whiteDropdown {
    background-color: white;
    border-radius: 5px;
}