.main {
    background-color: rgb(214,235,255); 
    height: 40px; 
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.itemlink {
    font-weight: bold;
}
.shippingtruck {
    padding-top:40px;
}
.shipping {
    padding-top:40px !important; 
    font-size: 20px; 
    color: rgb(237,117,27);
}
.imggift {
    vertical-align: 0px;
}
.pricecol {
    padding-left: 40px !important; 
    font-weight: bold;
    color: rgb(149,17,5);
}
.save {
    color: black;
}
.Qty {
    width:45px;
}
.later {
    background-color: rgb(249,244,212); 
    height: 20px; 
    border-radius: 25px;
}
.deleteitem {
    padding-left: 40px;
    font-size: 12px;
}
.laterP {
    font-size: 12px; 
    padding-top: 30px; 
    padding-top: 30px;
}
.first {
    margin-top:30px;
}
.ald {
    display:inline-block;
}
.customer {
    font-weight: bold;
}
.second {
    margin-top: 30px;
    padding-left: 60px;
    padding-right: 140px;
}
#seemore {
    border:3px solid lightgrey;
    width: 150px;
    height: 50px;text-align: center;
    border-radius: 10px;
}
.see-more1 {
    height: 50px;
}
.shopping {
    font-size:16px;
}
.subtotal {
    font-size:20px;
}
#price {
    padding-left: 40px !important;
}
#items {
    padding-top: 10px;
}
.delete {
    background-color: rgb(249,244,212); 
    height: 20px; 
    border-radius: 55px;
}
.pricecol {
    padding-left: 40px !important;
}
.hr {
    border: solid 1.5px rgb(225,228,199);
}
.itemadded {
    padding-left: 30px !important;
}