<div>
 <h4>Search movie</h4> 
  <select [(ngModel)]="selectedGenre">
    <option *ngFor="let movie of list" [ngValue]="movie">{{movie}}</option>
  </select><br />
  <button (click)="onChange()">Search Movie</button><br />
  <hr>
 <div *ngIf="result.length != 0">
   <table border="1">
     <tr><th>Movie Name</th><th>Rating</th></tr>
     <tr *ngFor="let m of result">
       <td>{{m.name}}</td>
       <td>{{m.rating}}</td>
     </tr>
   </table>
 </div>
 </div>



